.label {
    -fx-font-size: 10pt;
    -fx-font-family: "Verdana";
    -fx-text-fill: white;
    -fx-opacity: 0.8;
}


.table-view {
    -fx-base: #2d2e33;
    -fx-control-inner-background: #2d2e33;
    -fx-background-color: #2d2e33;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 20;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 15 pt;
    -fx-font-family: "Verdana";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 0.9;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #2d2e33 transparent #2d2e33;
    -fx-background-color: transparent, derive(#2d2e33,20%);
}

.button {
    -fx-padding: 5 5 5 5;
    -fx-border-color: #2d2e33;
    -fx-border-width: 1;
    -fx-background-radius: 0;

    -fx-font-family: "Verdana", Helvetica, Arial, sans-serif;
    -fx-font-size: 11 pt;
    -fx-text-fill: #f6f6f6;
    -fx-background-color: #2d2e33;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;

}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #5b5b5c;
    -fx-text-fill: #f6f6f6;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

#ancorpaneAdmin{
-fx-background-color: #323d52;
}

#ancorpaneOrdine{
-fx-background-color: #323d52;
}

#comboBoxLocazione{
    -fx-font-family: "Verdana", Helvetica, Arial, sans-serif;
    -fx-font-size: 11 pt;
    -fx-label-color: #2d2e33;
    -fx-background-color:#2d2e33;
}

  #comboBoxLocazione .list-cell{
    -fx-text-fill: white;
    -fx-background-color:#2d2e33;
    }


#comboBoxTavolo{
-fx-font-family: "Verdana", Helvetica, Arial, sans-serif;
    -fx-font-size: 11 pt;
    -fx-text-fill: white;
    -fx-label-color: white;
    -fx-background-color:#2d2e33;
    }

#comboBoxTavolo .list-cell{
-fx-text-fill: white;
-fx-background-color: #2d2e33;
}


#comboBoxCucina{
 -fx-font-family: "Verdana", Helvetica, Arial, sans-serif;
     -fx-font-size: 11 pt;
     -fx-text-fill: white;
     -fx-label-color: white;
     -fx-background-color:#2d2e33;
}

#comboBoxCucina .list-cell
 {
    -fx-text-fill: white;
    -fx-background-color:#2d2e33;

 }



